# virtual environment 
venv/
venv312/

# python cache
__pycache__/
*.pyc 

# Dataset 
data/the-oxfordiiit-pet-dataset/
data/data/processed/
data/processed/

# os/ editor files
.DS_Store
Thumbs.db
.vscode/